{% load static %}
{% load crispy_forms_tags %}

<!DOCTYPE html>
<html>

    {% include 'head.html' %}

    <body class="padre">
        <div class="hijo">
            {% if error %}
                <div class="alert alert-danger" role="alert">
                    Ocurrió un problema al cargar los datos
                </div>
            {% endif %}

            <h1>Usuario {{cod_doc}}, paciente {{cod_pac}}</h1>

            <form action="{% url 'agregarPaciente4' cod_doc cod_pac %}" method="POST">
                {% csrf_token %}
                
                {{ form|crispy }}
                <div class="row col-12 justify-content-end mb-2 pr-0">
                    <p></p>
                    <button type="submit" class="btn btn-primary col-md-2">Siguiente</button>
                </div>

            </form>

        </div>
    </body>


</html>