{% load static %}
{% block body %}
    <footer>

        <div class="d-flex justify-content-around text-black">
        
            <div>
                <i class="far fa-registered"></i> Hecho por David Kuo
            </div>

            <!-- <div>
                <i class="fab fa-github"></i> DaveKuo18 / 

                <i class="fab fa-whatsapp"></i> +54 9 11 2892-4924 / 
                
                <i class="fas fa-envelope"></i> dkuo@infointelligent.com
            </div> -->

        </div>

    </footer>

{% endblock %}