{% load static %}

<!DOCTYPE html>
<html>

    {% include 'head.html' %}
    <body class="padre">
      <div class="row col-12 justify-content-end">
        <a class="btn btn-secondary col-md-1" href="{% url 'login' %}">Salir</a>
      </div>
      <div class ="hijo">
        <h1 class="titulo"> Ingresaste, {{cod_doc}} </h1><br>

        {% if cod_doc == 'admin' %}
        
          <div class="row col-12 justify-content-end mb-2 pr-0">
            <a class="btn btn-secondary col-md-3" href="{% url 'descargar_excel' %}">Descargar datos</a>
          </div>
          
          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">Código Paciente</th>
                <th scope="col">D.N.I</th>
                <th scope="col">Apellido y Nombre</th>
              </tr>
            </thead>

            <tbody>
              {% for paciente in datosPaciente %}
                <tr>
                  <td>{{ paciente.cod_pac }}</td>
                  <td>{{ paciente.dni }}</td>
                  <td>{{ paciente.apellidoYNombre }}</td>
                  <td> {% if paciente.hayVacios %}
                    <div class="btn alert-danger d-flex align-items-center" role="alert">
                      <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
                      <div>Hay campos sin completar.</div></div> {% endif %} </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
          
        {% else %}

          <div class="row col-12 justify-content-end mb-2 pr-0">
            <!-- <button type="button" class="btn btn-success col-md-3">Añadir paciente</button> -->
            <a class="btn btn-success col-md-3" href="{% url 'agregarPaciente' cod_doc %}">Añadir paciente</a>
          </div>

          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">Código Paciente</th>
                <th scope="col">D.N.I</th>
                <th scope="col">Apellido y Nombre</th>
                <th scope="col"> </th>
                <th scope="col"> </th>
              </tr>
            </thead>

            <tbody>
              {% for paciente in datosPaciente %}
                {% if paciente.cod_doc == cod_doc %}
                  <tr>
                    <td>{{ paciente.cod_pac }}</td>
                    <td>{{ paciente.dni }}</td>
                    <td>{{ paciente.apellidoYNombre }}</td>
                    <td><a class="btn btn-warning" href="{% url 'editarPaciente' paciente.cod_pac %}"> Editar </a></td>
                    <td> {% if paciente.hayVacios %}
                      <div class="btn alert-danger d-flex align-items-center" role="alert">
                        <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
                        <div>Hay campos sin completar.</div></div> {% endif %} </td>
                  </tr>
                {% endif %}
              {% endfor %}
            </tbody>
          </table>
        
        {% endif %}  

      </div>
    </body>

  {% include 'footer.html' %}
  
</html>